[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-crispy-forms = "*"
requests = "*"
pytest = "*"
django-debug-toolbar = "*"
django-login-required-middleware = "*"
pytz = "*"
wheel = "*"
python-dotenv = "*"
python-decouple = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.10"
