/* PAGE RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ROOT */

:root{
    --white-color: #fff;
    --black-color: #000000;
    --black-opaque-color: #000000bb;
    --main-color: #0000ff;
    --sub-color: green;
    --red-color: red;
    --grey-color: #646464;
}




body{
    width: 100%;
    position: relative;   
    overflow-x: hidden; 
}
/* TOP-CONTAINER */

.top-container{
    height: 10.45vh;
    background-color:  var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    padding-bottom: 15px;
}

.top-container .quiz-heading{
    font-family: 'Courier New', Courier, monospace;
}

.top-container p{
    font-size: 18px;
}

.top-container .quiz-img{
    width: 350px;
}



/* BOTTOM CONTAINER */



.bottom-container{
    padding: 10px 30px;
    height: 65vh;
}

.top-content{
    display: flex;
    justify-content: space-between;
}

.time{
    font-size: 18px;
    position: sticky;
}

.logout{
    display: flex;
    justify-content: flex-end;
}

.user{
    position: absolute;
    top: 15px;
    right: 30px;
}

.logout{
    margin-bottom: 5px;
}
.contain{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.outer,.inner{
       border: 5px solid #f3f3f3;
}
.outer{
    width:80px;
    height:80px;
    border-top:5px solid orange;
    border-radius:50%;
    animation:div1 2s infinite;
}
.outer .inner{
     width:60px;
     height:60px;
     margin:5px;
     border-bottom:5px solid blue;
     border-radius:50%;
     animation:div2 1s infinite;
}

/* MEDIA QUERY */

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: none; /* Initially hide the image */
}

