/* PAGE RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ROOT */

:root{
    --white-color: #fff;
    --black-color: #000000;
    --black-opaque-color: #000000bb;
    --main-color: #0000ff;
    --sub-color: green;
    --red-color: red;
    --grey-color: #646464;
}




body{
    width: 100%;
    position: relative;   
    overflow-x: hidden; 
}
/* TOP-CONTAINER */

.top-container{
    height: 10.45vh;
    background-color:  var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    padding-bottom: 15px;
}

.top-container .quiz-heading{
    font-family: 'Courier New', Courier, monospace;
}

.top-container p{
    font-size: 18px;
}

.top-container .quiz-img{
    width: 350px;
}



/* BOTTOM CONTAINER */



.bottom-container{
    padding: 10px 30px;
    height: 65vh;
}

.top-content{
    display: flex;
    justify-content: space-between;
}

.time{
    font-size: 18px;
    position: sticky;
}

.logout{
    display: flex;
    justify-content: flex-end;
}

.user{
    position: absolute;
    top: 15px;
    right: 30px;
}

.logout{
    margin-bottom: 5px;
}
.contain{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.outer,.inner{
       border: 5px solid #f3f3f3;
}
.outer{
    width:80px;
    height:80px;
    border-top:5px solid orange;
    border-radius:50%;
    animation:div1 2s infinite;
}
.outer .inner{
     width:60px;
     height:60px;
     margin:5px;
     border-bottom:5px solid blue;
     border-radius:50%;
     animation:div2 1s infinite;
}

@-webkit-keyframes extend {
    0% {
        width: 600px;
        height: 200px;
        border-radius: 100px;
        } 10% {
        width: 610px;
        height: 210px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 600px;
        height: 200px;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 190px;
        background: #6fb07f;
        }
    }
@keyframes extend {
    0% {
        width: 600px;
        height: 200px;
        border-radius: 100px;
        } 10% {
        width: 610px;
        height: 210px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 600px;
        height: 200px;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 190px;
        background: #6fb07f;
        }
    }
@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@-webkit-keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
@keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
html {
    background: #fff
    }

input, button, submit {
    border: none
    }

.cont {
    position: absolute;
    width: 610px;
    height: 10px;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -300px
    }

button {
    border-width: 1px;
    width: 20vw;
    height: 6vh;
    /*border-radius*/
    border-radius: 100px;
    background: #fff;
    position: absolute;
    border: 5px solid #6fb07f
    }

button > span {
    font-size: 48px;
    color: #6fb07f
    }

img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

button:focus {
    /*animation*/
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }

button:focus > span {
    /*animation*/
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }

button:focus > img {
    /*animation*/
    -webkit-animation: appear 1s ease-in-out;
    -ms-animation: appear 1s ease-in-out;
    animation: appear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }


/* MEDIA QUERY */

