/* PAGE RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body{
    position: relative;
    padding: 2px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
     gap: 4px;
    background-color: rgb(162, 162, 253);
    color: white;
    overflow: hidden;
}

.left-container{
    height: calc(100vh - 4px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    grid-template-rows: 2fr 1fr;
    position: relative;
}

.top-left-container{
    padding: 20px 50px;
    background-color: rgba(0, 0, 255, 0.658);
    /* border-radius: 25px; */
}

header h1{
    font-family: 'Courier New', Courier, monospace;
}

.fa-bars{
    display: none;
    font-size: 20px;
}

.display-container{
    margin-top: 40px;
}

.display-container h3{
    margin-bottom: 20px;
}

.display-container h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.start-btn{
    display: none;
}

/* MOBILE NAV */

.mobile-nav{
    display: none;
    position: absolute;
    top: 60px;
    right: -700px;
    height: calc(100vh - 60px);

    background-color:rgb(102, 102, 255);
    color: black;
    padding: 20px;
    font-size: 18px;
    width: 250px;
    transition: all .3s ease;
}

main.open{
    right: 0;
}

main button{
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: blue;
    color: white;
}

main ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-container{
    background-color: rgba(0, 0, 255, 0.658);
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.right-container nav{
    padding: 20px 20px;
    height: 9vh;
    background-color: rgba(0, 0, 255, 0.199);
    transition: all .5s;
}

.nav-link{
    transition: all .5s;
}

.right-container nav ul{
    font-style: 15px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;

    font-size: 20px;
    font-weight: bold;
    transition: all .5s;
}

.nav-link:hover{
    cursor: pointer;
}
.nav-link::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: blue;
    margin: auto;
    transition: .5s;
}

.nav-link:hover::after{
    width: 90%;
}


.right-container nav ul button{
    font-size: 17px;
    border: none;
    padding: 4px;
    background-color: rgb(102, 102, 255);
    color: black;
    transition: all .5s;
    border-radius: 2px;
}

.right-container nav ul button:hover{
    cursor: pointer;
    background-color: rgb(102, 102, 255);
}

nav:hover{
    background-color: rgb(102, 102, 255);
}

nav:hover .nav-btn{
    background-color: blue;
    color: white;
}

nav:hover .nav-link{
    color: black;
}

content{
    padding: 0 20px 20px 20px;
}

marquee{
    margin-top: 15px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh);
}

.center button{
    font-size: 18px;
    border: none;
    padding: 15px 10px;
    background-color: rgb(102, 102, 255);
    border-radius: 5px;
    transition: all .5s;
    position: relative;
}

.center button:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}

.bottom-left-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    /* border-radius: 25px; */
    grid-template-rows: 1fr;
}

.sub-one{
    padding: 10px;
    padding-left: 20px;
    background-color: rgba(0, 0, 255, 0.658);
    /* border-radius: 25px; */
}

.sub-two{
    padding: 10px;
    padding-left: 50px;
    background-color: rgba(0, 0, 255, 0.658);
    /* border-radius: 25px; */
}

.sub-one h1,
.sub-two h1{
    margin-bottom: 15px;
}

/* EXTRA DETAILS DISPLAY */

.extra-text{
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-weight: bold;
    transition: all 1.5s;
    background-color: rgb(102, 102, 255);
    background-color: rgba(0, 0, 255, 0.867);
    padding: 30px 20px 10px;
}

.hidden{
    display: none;
}

.visible{
    display: initial;
}

.show-details{
    display: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.extra-txt{
    text-align: center;
    transition:  all 5s;
}

.about-us-details,
.program-details,
.contact-us-details{
    transition: all 5s;
}

.extra-txt h1{
    margin-bottom: 15px;
    color: rgb(102, 102, 255);
}

.close-details{
    text-align: center;
    font-size: 23px;
}

.fa-circle-chevron-up{
    margin-top: 20px;
    /* font-size: 18px; */
    color: rgb(102, 102, 255);
}

.fa-circle-chevron-up:hover{
    cursor: pointer;
}

/* MEDIA QUERY */


@media screen and (max-width: 980px) {
    
    .right-container nav ul button{
        font-size: 61%;
    }


}


@media screen and (max-width: 950px) {

    .right-container nav ul{
        font-size: 18px;
        gap: 20px;
    }

    .right-container nav ul button{
        font-size: 15px;
    }

    .sub-one h1,
    .sub-two h1{
        margin-bottom: 10px;
    }

    .sub-one,
    .sub-two{
        font-size: 15px;
    }
}

@media screen and (max-width: 890px){

    .display-container h1{
        font-size: 50px;
    }

    .sub-one h1,
    .sub-two h1{
        font-size: 25px;
    }

    .right-container nav ul{
        gap: 17px;
    }
}



@media screen and (max-width: 805px){

    body{
        display: initial;
        padding: 0;
        overflow: hidden;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .fa-bars{
        display: initial;
        /* margin-top: 20px; */
    }

    .top-left-container{
        background-position: center;
        background-size: cover;
        padding: 10px 15px;
    }

    .left-container{
        margin: 3px 3px 0 3px
    }

    .display-container{
        text-align: center;
    }

    .start-btn{
        display: initial;
        margin-top: 20px;
        font-size: 16px;
        border: none;
        padding: 8px 10px;
        background-color: rgb(102, 102, 255);
        border-radius: 5px;
        transition: all .5s;
        text-decoration: none;
    }

    .btn-link{
        text-decoration: none;
    }

    .mobile-nav{
        display: initial;
    }

    main ul li {
        margin-bottom: 20px;
    }

    .nav-link::after{
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        background: blue;
        margin: 0;
        transition: .5s;
    }

    .nav-link:hover::after{
        width: 60%;
    }


    /* Removing the right container */

    .right-container{
        display: none;
    }

    .sub-two{
        padding-left: 15px;
    }

    .sub-one,
    .sub-two{
        margin-bottom: 4px;
    }

    .navigation{
        position: absolute;
        top: 0;
    }
}


@media screen and (max-width: 500px){

    .display-container h3{
        margin-bottom: 15px;
    }

    .display-container h1{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
}


@media screen and (max-width: 400px){

    .display-container h3{
        margin-bottom: 15px;
        font-size: 18px;
    }

    .display-container h1{
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .sub-one h1,
    .sub-two h1{
        font-size: 18px;
        margin-bottom: 8px;
    }

    .sub-one,
    .sub-two{
        font-size: 15px;
    }
    
}