*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: rgb(78, 78, 238);
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
}

.back-to-home{
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(-90deg);
}

.home a{
    font-size: 30px;
    color: pink;
}


.form {
  width: min(75em, 100% - 2rem);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.form__heading {
  text-align: center;
  margin-bottom: 10px;
  font-size: clamp(1.8rem, 3.5vw, 5rem);
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

.register{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.form__group {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}

.form__group label {
  font-size: 1.3rem;
}

.form__group-input {
  padding: 1rem;
  /* flex: 0.8; */
  margin-bottom: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  width: 100%;
  border-radius: 4px;
}

.form__group-small {
  flex-basis: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
}

.form__group-radio {
  display: flex;
  /* align-items: center; */
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.submit-btn {
  background-color: pink;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 4px;
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.8;
  background-color: blue;
}

.error {
  border: 1px solid red;
}

.success {
  border: 1px solid green;
}

/* :invalid {
  border: 1px solid red;
} */

@media (max-width: 55em) {
  .form__group {
    flex-direction: column;
    align-items: stretch;
    gap: 0.7rem;
  }
}
