/* PAGE RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ROOT */

:root{
    --white-color: #fff;
    --black-color: #000000;
    --black-opaque-color: #000000bb;
    --main-color: #0000ff;
    --red-color: #ffe3e3c2;
    --hover-color: #ff0000e5;
    --toggle-color: #ffe3fff1;
}




body{
    width: 100%;
    position: relative;

    display: flex;
    overflow: hidden;
    
}

/* TOP-CONTAINER */

.top-container{
    width: 50%;
    height: 100vh;
    background-color:  var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);

    padding-bottom: 70px;
}

.top-container .quiz-heading{
    font-family: 'Courier New', Courier, monospace;
}

.top-container p{
    font-size: 18px;
}

.top-container .quiz-img{
    width: 350px;
}

.back-to-home{
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(-90deg);
}

.home a{
    font-size: 30px;
    color: pink;
}



/* BOTTOM-CONTAINER */

.bottom-container{
    width: 50%;
    border: 2px solid var(--main-color);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container .input{
    padding: 5px;
    width: 400px;
    height: 35px;
    margin-bottom: 15px;
}

#categories{
    margin-bottom: 10px;
}

.bottom-container .check{
    border-radius: 100px;
}

.start-button-container{
    display: flex;
    justify-content: flex-end;
}

.start-button{
    padding: 7px 14px;
    border: none;
    background-color: var(--main-color);
    color: var(--white-color);
    font-style: 18px;
}

@media screen and (max-width: 880px) {

    .bottom-container .container{
        width: 90%;
    }
    

    .main-input .input{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    body{
        flex-direction: column;
    }

    .top-container{
        width: 100%;
        height: 40vh;
    }

    .bottom-container{
        width: 100%;
        height: 60vh;
    }
}