{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="7-lg3Q8YOLDIZmeW">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <title>Quizify | Take and manage quizes </title>
</head>
<style>
    .top-left-container{
        background: linear-gradient(rgba(0, 0, 255, 0.719), rgba(57, 57, 240, 0.822)
        ), url("{% static 'img/rubiks-cube-gif.gif' %}");
        background-position: center;
        background-size: cover;

        padding: 10px 15px;
    }
    .right-container{
        background-color: rgba(0, 0, 255, 0.658);
        /* border-radius: 25px; */
        background-image: linear-gradient(rgba(128, 128, 252, 0.519), rgba(128, 128, 252, 0.522)), url("{% static 'img/rubiks-cube-gif.gif' %}");
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }
</style>
<body>
    <div class="left-container">
        <div class="top-left-container">
            <header>
                <div class="header-left">
                    <h1>Quizify </h1>
                    <p>Easy and inituitive online quiz.</p> 
                </div>

                <div class="header-right">
                    <i class="fas fa-bars"></i>
                </div>
               
            </header>
            <div class="display-container">
                <h3>Exercise The Unbeatable</h3>
                <h1>POWER <br> OF YOUR <br> MIND.</h1>

                <a href="{% url 'register' %}" class="btn-link"><button class="start-btn">GET STARTED ⇒</button></a>
            </div>
        </div>
        <div class="bottom-left-container">
           
            <div class="sub-two">
                <h1>Welcome</h1>
                <p>Become the best and set a record that will leave a mark on this app.</p>
                <br>
                <button id = "Categories">View Categories</button>
                {% for obj in object_list %}
                    {{obj.name}} - {{obj.topic}}
                    <br>
                {% endfor %}
            </div>

            <div class="sub-one">
                <h1>About Us</h1>
                <p>Do you like quizzes, quest and fun competitions? If yes, then you are in the right place. Josh-Quiz-App is dedicated to organising the most fun quizzes for everyone, especially you.</p>
            </div>
        </div>
        <!-- MOBILE NAV -->
        <main class="mobile-nav">
            <ul>
                <li class="nav-link about mobile"></a> About</li>
                <li class="nav-link program mobile"></a> Categories</li>
                <li class="nav-link contact-us mobile"></a> Contact Us</li>
                <li><a href="{% url 'login' %}"><button class="nav-btn">Login</button></a></li>
            </ul>
        </main>
    </div>
    <!-- RIGHT CONTAINER -->
    <div class="right-container">
        <nav>
            <ul>
                <li class="nav-link about"></a> About</li>
                <li class="nav-link program"></a> Categories</li>
                <li class="nav-link contact-us"></a> Contact Us</li>
                <li><a href="{% url 'login' %}"><button class="nav-btn">Login</button></a></li>
            </ul>
        </nav>

        <div class="right-container-content">
            <div class="center">
                <a href="{% url 'register' %}"><button>GET STARTED ⇒</button></a>
            </div>
            <marquee behavior="" direction="">Quizify is brought to you by Dee Josh and Davysongs... Set a special time to relax and sharpen your thinking at the same time...</marquee>
        </div>
        <!-- Extra Text -->
    <div class="extra-text">
        <div class="extra-txt about-us-details hidden">
            <h1>About Us</h1>

            <p>Do you like quizzes, quest and fun competitions? If yes, then you are in the right place. Josh-Quiz-App is dedicated to organising the most fun quizzes for everyone especially, you.</p>
            <div class="close-details">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </div>
        </div>

        <div class="extra-txt program-details hidden">
            <h1>Program</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus labore vero corrupti porro. Dolor quis eum iusto odio similique cupiditate harum mollitia excepturi perspiciatis! Dicta id molestias maiores maxime amet.
            </p>
            <div class="close-details">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </div>
        </div>

        <div class="extra-txt contact-us-details hidden">
            <h1>Contact Us</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum illum aspernatur reprehenderit repudiandae quaerat magni maxime enim officiis. Adipisci, quia laudantium commodi error aspernatur id voluptatum voluptatem illo sed qui?
            </p>
            <div class="close-details">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

<!-- 
<div class="program">
    <h1>
        Program
    </h1>
    
    <p>We offer more than 20 differnt optons for spending your leisure time!</p>
    <button>Choose the program</button>

</div> -->