{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{obj.name}}</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <!-- TOP CONTAINER -->
        <div class="top-container">
            <div class="container">
                <img src="{% static 'img/bak.png' %}" alt="logo" class="quiz-img">
            <h1 class="quiz-heading">Quizify:{{ obj.name }}</h1>
            <p>Answer all questions correctly</p>
            </div>

            <div class="Score">
                <h2>{{ request.user }}</h2>
            </div>
        </div>

      

        <!-- QUESTION CONTAINER -->

        <div class="bottom-container">

            <div class="question-container">
                <div class="top-content">
                    <div class="name">
                        <h1 class="username"> {{ obj.topic}}</h1>
                    </div>
                
            
                    <div class="time">
                        00:00
                    </div>
                </div>
        
        
                

            <div class="logout">
                <a href="{% url 'logout' %}">Logout</p>
            </div>
    
    </div>

    <script src="{% static 'scripts/quiz.js' %}" defer></script>
</body>
</html>