{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizify</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    
</head>
<body>
    <div class="container">

        <!-- TOP CONTAINER -->

        <div class="top-container">
            <div class="container">
                <img src="{% static 'img/bak.png' %}" alt="logo" class="quiz-img">
            <h1 class="quiz-heading">{{ quiz_name }}</h1>
            <p>Answer all questions correctly</p>
            </div>

            <div class="Score">
                <h2>Score: <span class="score">0</span></h2>
            </div>
        </div>

        <div class="score-dis">
            <h2 class="score-plus hidden">
                +200
            </h2>
            <h2 class="score-minus hidden">
                -100
            </h2>
        </div>

        <!-- QUESTION CONTAINER -->

        <div class="bottom-container">

            <div class="question-container">
                <div class="top-content">
                    <div class="name">
                        <h1 class="username">{{ user_name }}</h1>
                    </div>
                
            
                    <div class="time">
                        00:00
                    </div>
                </div>
        
        
                <div class="question-count">
                    <span class="current-question">1</span>/<span>10</span>
                </div>
            
                <div class="question-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sequi nostrum reiciendis quam magnam tenetur ab, quibusdam fuga fugit saepe!
                </div>

                <div class="answer-container">
                    <div class="first-option options A">
                        <div class="left"><h2 class="option-text">A</h2></div>
                        <div class="middle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, consectetur deleniti officiis perferendis amet libero fugit! Voluptatem sunt aliquid distinctio vel velit accusamus asperiores consequuntur.</div>
                        <div class="right"></div>
                    </div>
                    <div class="second-option options B">
                        <div class="left"><h2 class="option-text">B</h2></div>
                        <div class="middle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, consectetur deleniti officiis perferendis amet libero fugit! Voluptatem sunt aliquid distinctio vel velit accusamus asperiores consequuntur.</div>
                        <div class="right"></div>
                    </div>
                    <div class="third-option options C">
                        <div class="left"><h2 class="option-text">C</h2></div>
                        <div class="middle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, consectetur deleniti officiis perferendis amet libero fugit! Voluptatem sunt aliquid distinctio vel velit accusamus asperiores consequuntur.</div>
                        <div class="right"></div>
                    </div>
                    <div class="fourth-option options D">
                        <div class="left"><h2 class="option-text">D</h2></div>
                        <div class="middle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, consectetur deleniti officiis perferendis amet libero fugit! Voluptatem sunt aliquid distinctio vel velit accusamus asperiores consequuntur.</div>
                        <div class="right"></div>
                    </div>
                    
                
                </div>
            </div>

            <div class="next">
                <!-- <button>Back</button> -->
                <!-- <button class="next-btn">Next</button> -->
                <div class="circle-count next-btn"></div>
            </div>

            <div class="logout">
                <a href="./index.html">Logout</p>
            </div>
        
            <div class="number-count">
                <button class="btn btn-1">1</button>
                <button class="btn btn-2">2</button>
                <button class="btn btn-3">3</button>
                <button class="btn btn-4">4</button>
                <button class="btn btn-5">5</button>
                <button class="btn btn-6">6</button>
                <button class="btn btn-7">7</button>
                <button class="btn btn-8">8</button>
                <button class="btn btn-9">9</button>
                <button class="btn btn-10">10</button>
            </div>
        
        
        
        
    
        </div>
    
    </div>

    <script src="{% static 'scripts/script2.js' %}"></script>
</body>
</html>