{% extends "base.html" %}
{% load static %}
{% block title %} Quizify - {{obj.name}} {% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/quiz.css' %}">{% endblock %}
{% block script %}<script src="{% static 'scripts/quiz.js' %}" defer></script>{% endblock %}
{% block content %}
   <div class="container">
        <!-- TOP CONTAINER -->
        <div class="top-container">
            <div class="container">
                <img src="{% static 'img/bak.png' %}" alt="logo" class="quiz-img">
            <h1 class="quiz-heading">Quizify:{{ obj.name }}</h1>
            <p>Answer all questions correctly</p>
            </div>

            <div class="Score">
                <h2>{{ request.user }}</h2>
                                <div class="logout">
                    <a href="{% url 'logout' %}">Logout</a>
                </div> 
            </div>
        </div>
        <!-- QUESTION CONTAINER -->

        <div class="bottom-container">

            <div class="question-container">
                <div class="top-content">
                    <div class="name">
                        <h1 class="username"> {{ obj.topic}}</h1>
                    </div>
                    <div class="time">
                        00:00
                    </div>
                </div>
            </div>
            <hr>
            <form id="quiz-form">
                {% csrf_token %}
                <div id = "quiz-box"></div>
                <button type="submit" class = "">Submit</button>
            </form> 
        </div>
    </div>
    {% endblock %}